@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap');
:root{
    --main: #151e21;
    --mobile-menu: #f2f2f2;
    --add-info: #d1c68c;
    --add-info-headline: #e7e7e8;
    --active-tab: #918668;
    --edit: #303a40;
    --dot: #c4c4c4;
    --file-upload: #c4c4c41a;
    --submit-btn: #908668;
    --checkbox: #d4d4d4;
    --image-upload: #dfdcd3;
    --tooltip-hover: #f3f2eb;
    --input-delete: #e1171714;
    --page-link: #eee;
    --input: #ffffff80;
    --input-form: #22222280;
    --add-info-tab: #151e214d;
    --add-info-p: #686868;
}
*{
    font-family:'Roboto Slab', serif;
}
div img{
    width:100%;
    padding:5px 10px;
}
.video img{
    width: 60%;
    margin:20px 0;
}
.t-center{ text-align: center; }
.video{z-index: 1;}
#parad-text{
    background: #fff;
    padding:100px 10px 10px 10px;
    margin:10px auto;
}
.text{margin:20px 100px;}
h2{
    font-size:260px;
    color: var(--active-tab);
    text-transform: uppercase;
}
h4{
    font-size:32px;
    color: #000;
}
p{
    font-size:.875rem;
    color: #000;
}
.modal-toggle{position: relative;}
.modal{
    width:50%; 
    margin: auto;
    background: #fff;
    padding:15px 30px;
    position: absolute;
    top: 20%;
    left: 25%;
    z-index: 1;
    display: none;
}
h5{
    display: flex;
}
h5::before{
    content: "";
    display:inline-block;
    width:3px;
    height: 50px;
    background: var(--active-tab);
    margin:0 20px;
}
.modal p{
    margin:0 40px;
}
.modal button{
    border: none ;
    background: transparent;
    font-size:1em;
    cursor: pointer;
}
@media only screen and (min-width:992px) {
    div img{ height: 50vh; }
    #parad-text{ width: 70%; }
}