@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap');
:root{
    --main: #151e21;
    --mobile-menu: #f2f2f2;
    --add-info: #d1c68c;
    --add-info-headline: #e7e7e8;
    --active-tab: #918668;
    --edit: #303a40;
    --dot: #c4c4c4;
    --file-upload: #c4c4c41a;
    --submit-btn: #908668;
    --checkbox: #d4d4d4;
    --image-upload: #dfdcd3;
    --tooltip-hover: #f3f2eb;
    --input-delete: #e1171714;
    --page-link: #eee;
    --input: #ffffff80;
    --input-form: #22222280;
    --add-info-tab: #151e214d;
    --add-info-p: #686868;
}
.gallery {
    position: relative;
    column-count: 3;
    column-gap: 0;
    width: 100%;
    /* min-height: 100vh; */
}

.box {
    position: relative;
    transform-style: preserve-3d;
    overflow: hidden;
    display: grid;
    place-items: center;
    transform: translate(0, 0) rotateX(0deg) rotateY(0deg);
    margin: 20px 10px;
    page-break-inside: avoid;
    perspective: 512px;
    transition: 0.3s ease-out;
}

.box img {
    width: calc(100% + 50px);
    height: calc(100% + 50px);
    pointer-events: none;
    transition: 0.3s ease-out;
}
.box:hover img { transform: scale(1.1); }  
@media (max-width: 781px) {
    .gallery { column-count: 3; }
}
@media (max-width: 482px) {
    .gallery { column-count: 2; }
}

@media (max-width: 385px) {
    .gallery { column-count: 1; }
    .box > *:not(img) { font-size: 14px; }
}  
h1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
}

h1::before,
h1::after{
    content: " ";
    width: 150px;
    height:2px;
    background: var(--active-tab);
    display: block;
    margin: 20px 0;
}
/* hr{
    background-color: #fff;
    padding: 0;
    margin:10px 80px;
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8c8c, #f0f0f0);
    background-image: -moz-linear-gradient(left, #f0f0f0, #8c8c8c, #f0f0f0);
    background-image: -ms-linear-gradient(left, #f0f0f0, #8c8c8c, #f0f0f0);
    background-image: -o-linear-gradient(left, #f0f0f0, #8c8c8c, #f0f0f0);
} */
@media only screen and (min-width:992px) { }