@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap');
:root{
    --main: #151e21;
    --mobile-menu: #f2f2f2;
    --add-info: #d1c68c;
    --add-info-headline: #e7e7e8;
    --active-tab: #918668;
    --edit: #303a40;
    --dot: #c4c4c4;
    --file-upload: #c4c4c41a;
    --submit-btn: #908668;
    --checkbox: #d4d4d4;
    --image-upload: #dfdcd3;
    --tooltip-hover: #f3f2eb;
    --input-delete: #e1171714;
    --page-link: #eee;
    --input: #ffffff80;
    --input-form: #22222280;
    --add-info-tab: #151e214d;
    --add-info-p: #686868;
}
body{
    background:url(../img/bg-flag-colored.jpg) fixed;
    background-size: cover;
    background-position: center;
    z-index: -1;
}
nav{position: relative;}
*{ transition: all 400ms ease; }
.d-flex{
    display: flex;
    justify-content:space-between;
    align-items: center;
    text-align:start;
}
.j-center{justify-content: center;}
nav .d-flex{ padding:10px 5px;}
#logo{padding:0 10px;}
#logo svg{ width:100%; }
nav a svg{ fill:#fff; }

.hamburger-menu {
    padding: 0 20px;
    cursor: pointer;
}

.bar,
.bar:after,
.bar:before {
    width: 40px;
    height: 3px;
}

.bar {
    position: relative;
    background: transparent;
    transition: all 0ms 300ms;
}

.bar.animate { background: #ffffff00; }

.bar:before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 6px;
    background: #fff;
    transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

.bar:after {
    content: "";
    position: absolute;
    left: 0;
    top: 6px;
    background: #fff;
    transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

.bar.animate:after {
    top: 0;
    transform: rotate(45deg);
    transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

.bar.animate:before {
    bottom: 0;
    transform: rotate(-45deg);
    transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

a{
    font-family:'Roboto Slab', serif;
    color: #fff;
}

#menu{
    width: 100%;
    height: 100vh;
    background: var(--mobile-menu);
    position: fixed;
    right: -100%;
    top: 0;
    z-index: -1;
    display: block;
}

#menu.active{right:0;}
#links.active a{color: #000 ;}
.bar.active::after{background:#000;}
.bar.active::before{background:#000;}
nav a svg.active{fill:#000 !important;}

#pages  a{
    color: #000;
    font-size: 1.75em;
    font-weight: 600;
}

#pages{
    text-align: center !important;
    margin:auto;
    transform: translate(0,70%);
}

#pages li:nth-child(1) img{width:5%;}

.add{
    background:var(--add-info);
    padding: 10px;
    font-size: 16px;
    font-weight: 500;
    width: 90%;
    margin: auto;
}
.add a{ color: #000 !important;}
.mobile-menu{display: block;}
#add-info{display: none;}
.card img{width: 100%; object-fit: cover;}
#mobile-cards{margin:30px;display: block;}
#cards{display: none;}
.card{position: relative;margin:0 0 50px 0;}
.card:hover{transform:scale(1.02)}
.text{
    position:absolute;
    top: 0;
    left: 0;
    text-align: center;
    text-transform: uppercase;
    font-family:'Roboto Slab', serif;
    color: #fff;
    font-size: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
}
.title{
    color: var(--add-info);
    font-weight: 700;
}
h4{
    font-size: 24px;
    font-weight:600;
    margin:10px 0;
}
.date{ font-weight: 500; }

@media only screen and (min-width:992px) {
    nav {
        max-width: 100%;
        margin: auto;
    }
    .container {
        max-width: 95%;
        margin: auto;
    }
    #logo{max-width:15%;}
    #menu{width: 60%;}
    
    #links{
        text-align: end;
        max-width:100%;
        text-transform: capitalize; 
    }
    #add-info{display: block;}
    #add:hover{filter: brightness(85%);}
    #add-info{margin:0 5px;}
    #add{
        background:var(--add-info);
        color: #000;
        padding: 13px 20px;
        font-size: 16px;
        font-weight: 400;
        cursor: pointer;
    }
    .dropdown{position: relative;}
    .dropdown-menu{
        position: absolute;
        top:100%;
        text-align: center;
        background: #fff; 
        font-size: 15px;
        padding: 10px 5px;
        margin:10px 0;
        display: none;
    }
    .dropdown-menu a{
        color: #000;
        padding:0 10px 10px 10px;
        margin:0 0 10px 0; 
    }
    .dropdown-menu a:hover{
        color: var(--edit);
    }
    .dropdown-menu li{margin:20px 0;}
    .dropdown-menu::before{
        content: "";
        display: inline-flex;
        position: absolute;
        top: -20px;
        left: 75px;
        width: 0;
        height: 0;
        border-left: 12px solid transparent;
        border-right: 12px solid transparent;
        border-bottom: 24px solid #fff;
    }

    #pages{ position: relative; }
    #pages a{ opacity: .5; }

    #pages a:hover{ 
        opacity: 1;
        transition: opacity 800ms;
        color: #fff;
        text-shadow: 0 0 5px var(--edit), 0 0 25px var(--edit), 0 0 50px var(--edit), 0 0 100px var(--edit);
    }
    #pages li a:before {
        content: "";
        width: 0;
        height: 5px;
        background: var(--add-info);
        position: absolute;
        bottom: -5%;
        left: 0;
        transition: all 0.5s;
        margin:10px 0 0 0;
    }   
      
    #pages li a:after {
        content: "";
        width: 0;
        height: 5px;
        background: var(--active-tab);
        position: absolute;
        bottom: -5%;
        right: 0;
        transition: all 0.5s;
        margin:10px 0 0 0;
    }
      
    #pages li a:hover:before {
        width: 50%;
        transform: translateX(100%);
    }
      
    #pages li a:hover:after {
        width: 50%;
        transform: translateX(-100%);
    }

    .mobile-menu{display: none;}
    .row::after{
        content: "";
        display: table;
        clear: both;
    }
    .col-4{ width:33%;}
    .col-6{ width:50%;}
    .fleft{ float:left; }
    .fright{ float:right; }
    .col-6:last-child{ margin: auto;}
    .card{padding: 10px; }
    #mobile-cards{ display: none; }
    #cards{ display:block; }
    .card img{
        width: 100%;
        margin: auto;
        aspect-ratio: 5/5;
        object-fit: contain;
        mix-blend-mode:difference;
    }
    .text{
        width: 100%;
        margin: auto;
        text-align: center;
        margin:0 10px;
    }
    .j-center{justify-content: center;}
}

article {z-index: -10;}
@media only screen and (min-width: 1249px) and (max-width: 1499px) { #menu { width: 80% !important; } }

@media only screen and (min-width: 999px) and (max-width: 1249px) { #menu { width: 80% !important; } }

@media only screen and (min-width:768px) and (max-width: 999px) { 
    #menu { width: 100% !important; } 
    nav a svg.active{fill:#000 !important;}
    nav a svg{fill:#fff;}
}


#popover {
    width: 250px;
    height: 150px;
    position: fixed;
    bottom: -5%;
    right: -5%;
    display: block;
    z-index: 10;
    text-align: center;
}
#popover:hover{ filter: brightness(85%); }
#popover-trigger{
    width: 64px;
    height: 64px;
    border-radius: 50%;
    background: var(--add-info);
    border: none;
    margin: 40px 0;
    padding:5px 0 0 0;
    position: relative;
}
#popover-menu {
    position: absolute;
    top: -60%;
    left:-10%;
    transition: 5s ease;
    transform: scale(0.9);
    transform-origin: top;
    display: none;
    background: #fff;
    transition: all .4 ease;
}
#popover-menu a{ color: #000; }
#popover-menu li{ padding: 10px; }